html {
    font-family: Helvetica, sans-serif;
    background-color: #11141a;
    margin: 0;
    padding: 0;
    min-width: 100%;
}

html, body {
  height: 100%;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

@font-face {
	font-family: AkiraExpanded;
	src: url("AkiraExpanded.otf");
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: rgb(210, 98, 98);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
  text-align: center;
}

.sidenav a {
  font-family: AkiraExpanded, sans-serif;
  padding: 12px 8px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  background-color: rgb(184,  78, 78);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  font-family: Helvetica, sans-serif;
}

.sidenav .closebtn:hover {
  background-color: transparent;
}

.logo {
    width: 100px;
    cursor: pointer;
    transition: 0.2s;
}

.logo:hover {
  transform: scale(1.05);
}

.smallLogo {
  margin-top: 50vh;
  width: 50px;
  background-color: rgba(184, 78, 78, 0.9);
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  position: fixed;
  z-index: 10;
}

.smallLogo:hover {
  cursor: pointer;
  background-color: rgb(210, 98, 98);
  transition: 0.3s;
}

#main {
  transition: margin-left .5s;
  padding: 0;
  margin: 0;
  margin-left: 350px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  min-height: 100%;
  padding-bottom: 75px;
  margin-right: 100px;
}

#main h1 {
  font-family: AkiraExpanded, sans-serif;
  font-size: 50px;
  color: white;
  margin: 10px 0;
  margin-top: 40px;
  grid-column: span 12;
}

#main p.sub {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: #dfdfdf;
    grid-column: span 12;
    text-align: justify;
    overflow-y: hidden;
    padding: 5px;
    line-height: 30px;
}

p.list {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #a5a5a5;
  grid-column: span 12;
  text-align: justify;
  overflow-y: hidden;
  padding: 5px;
  line-height: 25px;
}

.top {
  grid-column: span 12;
  height: fit-content;
  overflow: hidden;
}

.topText {
  margin: 210px 0;
}

.top img {
  float: left;
  max-height: 350px;
  margin: 10px;
}

.bgVideo {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  z-index: -10;
  opacity: 0.05;
  object-fit: cover;
}

.content {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 10px;
}
.content .box {
  grid-column: span 1;
  height: 300px;
  border: solid 2px rgb(184,  78, 78);
  margin: 5px;
  overflow: hidden;
}

.content .box .prev {
  height: calc(100% - 28px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.content .box .prev img {
  flex-shrink: 0;
  filter: blur(1px);
  opacity: 0.75;
  transition: 0.1s;
  min-height: 100%;
  min-width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.cover {
  object-fit: cover;
}

.content .box .prev img:hover {
  filter: none;
  opacity: 1;
  cursor: pointer;
}

.content .box .subtitle {
  color: white;
  text-align: center;
  font-family: AkiraExpanded, sans-serif;
  padding: 5px;
  background-color: rgb(36, 41, 51);
}

.album {
  grid-column: span 12;
  margin: 10px 0;
}

.collage {
  display: inline-block;
  margin: 10px;
  height: 450px;
}

footer {
  grid-column: span 12;
  background-color: rgb(11, 11, 14);
  color: white;
  text-align: center;
  margin: 0;
  margin-left: 250px;
  margin-top: -75px;
  bottom: 0;
  transition: .5s;
  display: flex;
  justify-content: space-between;
}

footer p {
  font-family: Helvetica, Arial, sans-serif;
  color: #adadad;
  margin: auto;
  padding: 25px;
}

footer .socials {
  margin: auto;
  padding: 25px;
}

footer .socials a {
  font-size: 16pt;
  color: #adadad;
  margin: auto;
  padding: 5px;
}

footer .socials a:hover {
  color: white;
  transition: color .3s;
}

#border {
  border: solid 2px rgb(184,  78, 78);
}

label {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: solid 2px rgb(184,  78, 78);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: Helvetica, sans-serif;
}

input[type=submit] {
  background-color: rgb(184,  78, 78);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

input[type=submit]:hover {
  background-color: rgb(214, 119, 119);
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#fullwidth {
  width: 100%;
}

.site a:link {
  color: #cfcfcf;
  transition: 0.3s;
  text-decoration: underline;
}

.site a:visited {
  color: #cfcfcf;
}

.site a:hover {
  color: rgb(214, 119, 119);
}

.site a:active {
  color: #cfcfcf;
}

#noHover:hover {
  background-color: initial;
}