body {
  background-color: #999999;
  font-size: 14pt;
}

a {
  color: orange!important;
}


#wrapper {
  width: 960px;
  border: 1px solid #ff0000;
  background-color: #ffffff;
  margin: 1em auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 100px auto 75px;
}

header {
  grid-column: span 12;
  border: 1px solid red;
}

nav {
  grid-column: span 3;
  border: 1px solid red;
}

main {
  grid-column: span 9;
  border: 1px solid red;
}

footer {
  grid-column: span 12;
  border: 1px solid red;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding: 10px;
  border: 1px solid #000000;
  margin: 10px;
}

main {
  clear: both;
}

.floatimage {
  width: 200px;
  float: left;
  margin: 20px;
  margin-top: 0;
}

.p2 {
  clear: both;
}

.p1, .p2 {

}

a {
  color: purple;
}